@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.form {
    @include pageForm;


    .btnGrey {
        justify-self: flex-end;
        grid-column: 1/2;
        margin: 5rem 0;
    }


    input[type='submit'] {
        grid-column: 2/-1;
        margin: 5rem 0;
        justify-self: flex-start;
    }
}