@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.spinner {
    @include privPageSpinner;
    grid-row: 4/5;
}

.form {
    @include pageForm;

    .btnCancel,
    input[type='submit'] {
        margin-top: 2rem;
    }


    .btnCancel {
        justify-self: flex-end;
        grid-column: 1/2;
    }


    input[type='submit'] {
        grid-column: 2/-1;
        justify-self: flex-start;
    }
}