@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.spinner {
    @include privPageSpinner;
    grid-row: 4/5;
}

.form {
    @include pageForm;

    .btnCancel,
    input[type='submit'] {
        margin-top: 2rem;
    }


    .btnCancel {
        justify-self: flex-end;
        grid-column: 1/2;
    }


    input[type='submit'] {
        grid-column: 2/-1;
        justify-self: flex-start;
    }

    .changePassword {
        display: none;
        grid-column: 1/-1;
        color: black;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid $color-grey;
        padding: 1rem;

        @media only screen and (max-width: 1100px) {
            display: inline-block;
        }

    }
}