.App {

    &::after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background: url('./images/background.png') repeat center;
        opacity: .04;
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
    }

}