@import '../../../styles/pubMixins';
@import '../../../styles/variables';


.page {
    @include page;
}

.spinner {
    @include publicPageSpinner;
    grid-row: 4/6;
}

.homeLink {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    z-index: 2;
    margin: 1rem;

    button {
        @include publicPageNavBtn;
    }

}

.container {
    @include publicPageContainer;
}


.form {
    @include formPage;


    a {
        display: inline-block;
        height: min-content
    }

    .loginBtn {
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: center;
        justify-self: flex-end;
        font-size: $btnFontSize;
        cursor: pointer;
        background: $color-primary;
        border: none;


    }

    .registerBtn {
        grid-column: 2/-1;
        grid-row: 4/5;
        align-self: center;



        button {
            @include clearBtn;
        }

    }

    .link {
        grid-row: 5/6;
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
        text-decoration: none;
        font-style: italic;
        font-size: 1.2rem;
        color: black;
        padding-bottom: 1.2rem;
        letter-spacing: 0.15em;
        position: relative;
        display: block;


        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%; //center
            position: absolute;
            background: #000;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }
    }

}