@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.spinner {
    @include publicPageSpinner;
}

.homeLink {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    z-index: 2;

    button {
        @include publicPageNavBtn;
    }

}

.container {
    @include publicPageContainer;
}

.title {
    @include publicPageTitle;
}


.form {
    @include formPage;

    .loginBtn {
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: flex-end;
        font-size: $btnFontSize;
        cursor: pointer;
        background: $color-primary;
        border: none;
    }

    .registerBtn {
        grid-column: 2/-1;
        grid-row: 4/5;

        button {
            @include clearBtn;
        }

    }

    .link {
        grid-row: 5/6;
        grid-column: 1/-1;
        justify-self: center;
        text-decoration: none;
        font-style: italic;
        font-size: 2rem;
        color: black;
    }

}