@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    grid-column: 2/10;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    justify-content: space-between;

    button {
        @include publicPageNavBtn;
    }
}

.spinner {
    @include publicPageSpinner;
}

.title {
    @include publicPageTitle;
}

.container {
    @include publicPageContainer;
}

.form {
    @include formPage;

    input[type='submit'] {
        grid-column: 1/2;
        grid-row: 6/7;
        justify-self: flex-end;
    }

    button {
        grid-column: 2/3;
        grid-row: 6/7;
        @include clearBtn;

    }
}