@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
}


.container {
    @include publicPageContainer;
}

.form {
    @include formPage;

    input[type='submit'] {
        grid-column: 1/2;
        grid-row: 7/8;
        justify-self: flex-end;
        align-self: center;
    }

    button {
        grid-column: 2/3;
        grid-row: 7/8;
        align-self: center;
        @include clearBtn;

    }
}