@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.spinner {
    @include privPageSpinner;
    grid-row: 4/5;
}

.form {
    @include pageForm;


    input[type='submit'] {
        grid-column: 1/-1;
        margin: 3rem 0;
    }
}