@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
    grid-row: 4/5;
}

.desc {
    @include publicPageDesc;
    grid-row: 2/3;
    font-size: 1.5rem;
    justify-self: center;
    line-height: 3rem;

    @media only screen and (max-width: 600px) {
        font-size: 1.5rem;
    }


    @media only screen and (max-width: 450px) {
        font-size: 1.2rem;
    }
}

.container {
    @include publicPageContainer;
}

.form {
    @include formPage;

    input[type="email"] {
        grid-column: 1/-1;
        grid-row: 3/4;
        width: 50%;
        max-height: 3rem;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: 500px) {
            width: 70%;
        }
    }

    input[type='submit'] {
        grid-column: 1/-1;
        max-width: $btnMaxWidth;
        justify-self: center;
        grid-row: 4/5;
        align-self: center;
    }
}