@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
}


.desc {
    @include publicPageDesc;
}

.container {
    @include publicPageContainer;
}

.form {
    @include formPage;

    input[type="email"] {
        grid-column: 1/-1;
        width: 50%;
        justify-self: center;
    }

    input[type='submit'] {
        grid-column: 1/-1;
        max-width: $btnMaxWidth;
        justify-self: center;
        grid-row: 4/5;
    }
}