@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
    grid-row: 4/5;
    align-self: center;
}

.desc {
    @include publicPageDesc;
    grid-row: 2/3;
    margin-top: -2rem;
    width: 75%;
    justify-self: center;
    line-height: 3rem;
}

.container {
    @include publicPageContainer;
}

.form {
    @include formPage;
    grid-template-rows: 1fr 7rem 1fr 1fr 1fr;

    input[type="email"] {
        grid-column: 1/-1;
        grid-row: 3/4;
        width: 50%;
        max-height: 3rem;
        justify-self: center;
        align-self: center;
    }

    input[type='submit'] {
        grid-column: 1/-1;
        max-width: $btnMaxWidth;
        justify-self: center;
        grid-row: 4/5;
    }
}