.container {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.title {
    font-size: 12rem;
    grid-column: 3/8;
    grid-row: 2/3;

}

.desc {
    font-size: 3rem;
    grid-row: 3/4;
    grid-column: 3/8;
    margin-top: 2rem;
}

.cta {
    font-size: 4rem;
    background: rgb(169, 223, 241);
    height: 50%;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    grid-row: 2/4;
    grid-column: 8/10;
    align-self: center;
}