@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
    grid-row: 4/5;
}


.container {
    @include publicPageContainer;
}

.form {
    @include formPage;

    input[type='submit'] {
        grid-column: 1/-1;
        grid-row: 3/4;
        align-self: center;
        justify-self: center;
    }
}

.btmLink {
    grid-row: 4/5;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-style: italic;
    font-size: 1.2rem;
    color: black;
    padding-bottom: 1.2rem;
    letter-spacing: 0.15em;
    position: relative;

    @media only screen and (max-width: 600px) {
        font-size: 1.3rem;
    }


    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%; //center
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0%;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }

}