@import '../../../styles/mixins';
@import '../../../styles/variables';

.container {
    @include container;
}

.nav {
    grid-column: 4/10;
    grid-row: 1/3;
    align-self: center;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    button {
        @include publicPageNavBtn;
    }
}

.spinner {
    @include publicPageSpinner;
}

.title {
    @include publicPageTitle;
}

.desc {
    grid-row: 3/4;
    grid-column: 2/7;
    justify-content: center;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}

.resetPassword {
    @include publicPageContainer;
}

.form {
    @include formPage;
    grid-row: 4/9;

    input[type="email"] {
        grid-column: 2/7;
        width: 100%;
    }

    input[type='submit'] {
        grid-column: 2/5;
        height: 50%;
        align-self: center;
        grid-row: 4/6;
    }
}