@import '../../../styles/pubMixins';
@import '../../../styles/variables';

.page {
    @include page;
}

.nav {
    @include publicPageNav;
}

.spinner {
    @include publicPageSpinner;
    grid-row: 4/5;
}

.desc {
    @include publicPageDesc;
    align-self: flex-end;
    grid-row: 1/2;
}

.container {
    @include publicPageContainer;
}

.form {
    @include formPage;
    grid-template-rows: 1fr 1fr 7rem 1fr 1fr;

    input[type='submit'] {
        grid-column: 1/-1;
        grid-row: 4/5;
        align-self: center;
        justify-self: center;
    }
}

.btmLink {
    grid-row: 5/6;
    grid-column: 1/-1;
    justify-self: center;
    font-size: 2rem;
    text-decoration: none;
    color: black;

}