@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.spinner {
    @include privPageSpinner;
    grid-row: 6/7;
}

// Fix this so theres two or multiple columns
.form {
    @include pageForm;

    button {
        border-radius: 2rem;
    }

    .btnCategories {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        flex-wrap: wrap;
        height: calc(1.6rem + 10px + 10px + 1px + 1px); // around same height as input

        &> :not(:first-child) {
            margin-left: .5rem;
        }

    }

    .btnGreen,
    .btnDel {
        justify-self: flex-end;
        border: none;
        width: auto;
        background: transparent;
        font-size: 2rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline: none;
        }
    }

    .btnGreen>svg {
        color: $color-green
    }

    .btnDel>svg {
        color: $color-delete
    }

    .btnCancel,
    input[type='submit'] {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .btnCancel {
        border-radius: 0;
        grid-column: 1/2;
        justify-self: flex-end;
    }

    input[type='submit'] {
        grid-column: 2/-1;
        justify-self: flex-start;
    }

    .deleteBudget {
        grid-column: 1/-1;
        justify-self: center;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: rgba(255, 0, 0, 0.5);

        svg {
            margin-right: 1rem;
        }
    }
}