@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

// Fix this so theres two or multiple columns
.form {
    @include pageForm;

    .btnGrey {
        justify-self: flex-end;
        font-size: 1.5rem;
        width: 50%;
    }

    .btnDel {
        justify-self: flex-start;
        font-size: 1.5rem;
        width: 50%;
    }

    input[type='submit'] {
        margin: 5rem 0;
        grid-column: 1/-1;
    }

    .deleteBudget {
        grid-column: 1/-1;
        justify-self: center;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: red;

        svg {
            margin-right: 1rem;
        }
    }
}