@import '../../../styles/privMixins';
@import '../../../styles/variables';

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

// Fix this so theres two or multiple columns
.form {
    @include pageForm;

    button {
        border-radius: 2rem;
    }

    .btnGrey {
        justify-self: flex-end;
        font-size: 1.2rem;
        width: 30%;
        padding: .5rem;
    }

    .btnDel {
        justify-self: flex-start;
        font-size: 1.2rem;
        width: 30%;
        padding: .5rem;
    }

    .btnCancel {
        border-radius: 0;
        grid-column: 1/2;
        margin-top: 7rem;
        margin-bottom: 3rem;
        justify-self: flex-end;
    }

    input[type='submit'] {
        margin-top: 7rem;
        margin-bottom: 3rem;
        grid-column: 2/-1;
        justify-self: flex-start;
    }

    .deleteBudget {
        grid-column: 1/-1;
        justify-self: center;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: rgba(255, 0, 0, 0.5);

        svg {
            margin-right: 1rem;
        }
    }
}