@import "../../../styles/variables";

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 400px;


    .title {
        font-size: 2rem;
        display: inline-block;
        text-transform: capitalize;

        @media only screen and (max-width: 500px) {
            font-size: 1.5rem;

        }
    }

    .labels {
        font-size: 1.2rem;
    }
}

.toolTip {
    position: absolute;
    opacity: 0;
    padding: 1rem;
    background-color: white;
    border: 1px solid $color-grey;
    border-radius: 10px;
    font-size: 1.3rem;
}