@import "../../../styles/variables";

.chart {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;


    .title {
        display: inline-block;
        text-transform: capitalize;
    }

    .labels {
        font-size: 1.3rem;
    }
}

.toolTip {
    position: absolute;
    opacity: 0;
    padding: 1rem;
    background-color: white;
    border: 1px solid $color-grey;
    border-radius: 10px;
    font-size: 1.3rem;
}