@import '../../../styles/variables';
@import '../../../styles/privMixins';

.page {
    @include page;

}

.logout {
    @include logoutBtn;

    @media only screen and (max-width: 1100px) {
        display: none;
    }
}

.container {
    @include container;
    margin-top: 2rem;
}

.routes {
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: 100%;
}

.selected {
    background: #afddec85;
}