@import "../../../styles/privMixins";
@import "../../../styles/variables";

.title {
    @include pageTitle;
}

.container {
    @include pageContainer;
}

.spinner {
    @include privPageSpinner;
    grid-row: 6/7;
}

// Fix this so theres two or multiple columns
.form {
    @include pageForm;


    .type {
        grid-column: 1/-1;

        label {
            cursor: pointer;
            font-size: 1.2rem;
            margin-bottom: 1rem;

            span {
                grid-column: 2/-1;
                justify-self: flex-start;
            }

            input {
                grid-column: 1/2;
                width: auto;
                justify-self: flex-end;
            }
        }
    }

    button {
        grid-column: 1/2;
        justify-self: flex-end;
    }

    input[type="submit"] {
        grid-column: 2/-1;
        justify-self: flex-start;
    }

    &>button,
    input[type="submit"] {
        margin: 2rem 0;
    }

    .date {
        div:first-child {
            font-size: 1.2rem !important; // for the date input
        }
    }

    .inputNumberExp {
        color: red;
    }

    .deleteTransaction {
        grid-column: 1/-1;
        justify-self: center;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: rgba(255, 0, 0, 0.5);

        svg {
            margin-right: 1rem;
        }
    }
}