@import "../../../styles/privMixins";
@import "../../../styles/variables";

.mobileTableCategory {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobileTableHead {
        display: none;
    }

    .mobileTableData {
        display: none;
    }

    .mobileTableCategory {
        display: block;
        margin-top: .5rem;
        font-style: italic;
        font-size: 75%;
    }
}

.tip {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: .5rem;
}


.table {
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;

    @media only screen and (max-width: 600px) {
        margin-left: -2rem;
        margin-right: -2rem;
        width: 98vw; // 100vw still adds a small space
    }


    .heading {
        background: $color-primary;

        th {
            padding: 1rem 0;
        }
    }

    tr {
        border: 1px solid $color-grey;

        @media only screen and (max-width: 600px) {
            border-right: none;
            border-left: none;
        }
    }

    .transaction,
    .transactionSelected {
        cursor: pointer;

        td {
            padding: 1rem 0.5rem;
            max-width: 25vw;
            word-break: break-word;

            @media only screen and (max-width: 450px) {
                padding: 2rem 1rem;
            }

            &:not(:first-of-type) {
                text-align: center;
            }
        }
    }

    .transactionSelected {
        background: #d9f4fd;
    }
}

.groupDate {
    background: rgba(241, 241, 241, 0.5);
    width: 100%;
    text-align: left !important;
    padding: 1rem 0.5rem 0 0.5rem;
    font-weight: bold;
}