@import "../../../styles/privMixins";
@import "../../../styles/variables";

.container {
	@include pageContainer;
}

.budget {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 5rem;

	&Name {
		font-size: 4rem;
	}

	&Balance {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		h3 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}

		span {
			font-size: 1.2rem;
		}
	}
}

.addTransactions {
	margin-top: 5rem;
	font-size: 3rem;
	display: inline-block;
	font-weight: 100;

	span {
		margin-right: 2rem;
	}

	a {
		text-decoration: none;
		color: black;
		display: inline-block;
		padding-bottom: .7rem;
		border-bottom: 3px solid $color-primary;
	}

}

.table {
	width: 100%;
	font-size: 1.2rem;
	border-collapse: collapse;

	.heading {
		background: $color-primary;

		th {
			padding: 1rem 0;
		}
	}

	tr {
		border: 1px solid $color-grey;
	}

	.transactions {
		td {
			padding: 1rem 0.5rem;

			&:not(:first-of-type) {
				text-align: center;
			}
		}
	}
}

.groupDate {
	background: rgba(241, 241, 241, 0.5);
	width: 100%;
	text-align: left !important;
	padding: 1rem 0.5rem 0 0.5rem;
	font-weight: bold;
}