$color-primary: rgb(169, 223, 241);
$color-delete: rgb(231, 180, 180);
$color-grey: rgba(158, 158, 158, 0.5);

// Sizes
$addTransactionHeight: 12rem;
$btnHeight: 5rem;
$btnMaxWidth: 20rem;

// Typography
$btnFontSize: 2rem;