$color-primary: rgb(169, 223, 241);
$color-delete: rgb(231, 180, 180);
$color-grey: rgba(158, 158, 158, 0.5);
$color-green: rgb(146, 204, 146);

// Sizes
$addTransactionHeight: 12rem;
$btnHeight: 5rem;
$btnMaxWidth: 20rem;

// Typography
$btnFontSize: 2rem;

// Responsive padding for pageContainer privMixin
$large-padding: 5rem;
$med-padding: 3rem;
$small-padding: 2rem;

// label mobile responsive column template
$col-gap:2rem;
$container-padding: $small-padding;
$col-w: calc(#{$col-gap} + #{$container-padding});

// Reponsive design params
$container-stretch: 730px